/* Cute lil' Navbar */
.navbar {
  width: 100%;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    gap: 0.25rem;
  }

  .navbar li:nth-child(even) {
    display: none;
    /* Hide separators on mobile */
  }
}

/* Profile Picture */
#profile-picture {
  border: 2px solid rgb(49, 50, 68);
  border-radius: 100%;
}

/* Toots Embed */
.toots {
  list-style: none;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.toot {
  padding: 1rem;
}

/* Posting user. */
.toot .user {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 46px;
  /* Avatar height. */
  column-gap: 0.5rem;

  text-decoration: none;
  color: inherit;
}

.toot .avatar {
  border-radius: 4px;
}

.toot .display-name {
  font-weight: bold;
  display: block;
}

.toot .user:hover .display-name {
  text-decoration: underline;
}

.toot .username {
  display: block;
  margin-right: 1em;
  color: inherit;
}

/* Boosting user is smaller and above the posting user. */
.toot .boost {
  height: 23px;
  margin-bottom: 0.25rem;
  column-gap: 0.25rem;
}

.toot .boost:before {
  content: "♺";
  font-size: 140%;
}

.toot .boost .username {
  display: none;
}

.toot .permalink {
  text-decoration: none;
  display: block;
  color: inherit;
  float: right;
}

.toot .permalink:hover {
  text-decoration: underline;
}

.toot .body {
  clear: both;
  margin-top: 1em;
}

.toot .body a {
  overflow-wrap: anywhere;
}

/* Weird trick to keep the text in the page but not display it. */
.toot .body .invisible {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toot .body .ellipsis::after {
  content: "…";
}

.toot .attachment {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
}

.toot .attachment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Formspree Embed */

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: none;
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgb(30, 30, 46);
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(202, 158, 230);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: rgb(131, 139, 167);
  outline-style: solid;
  outline-width: thin;
  outline-color: rgb(202, 158, 230);
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm select {
  text-transform: none;
}

form {
  background-color: rgb(30, 30, 46);
  border: 3px solid rgb(147, 153, 178);
  border-radius: 5px;
}

form :is(input, textarea) {
  margin-bottom: 1rem !important;
}